the scores will be entered here
</br>
<form action = "/results">
  Player 1 Score:
  <input type="number" name="play1set1" min="1" max="6">
</br>
Player 2 Score:
  <input type="number" name="play2set1" min="1" max="6">
  <input type="submit">
</form>