<header>
	
	
	<div class="hero">
		<section class="layout">
			<div class="branding">
				<a href="">
					<img src ="http://lorempixel.com/400/200/" alt = "score tennis app">
				</a>
			</div><!--branding-->
		</section> <!--layout-->
	</div><!--hero-->
	<nav class = "layout">
	<ul>
		<li><a href = "/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
		<li><a href = "user"><i class="fa fa-user" aria-hidden="true"></i> User</a></li>
		<li><a href = "results"><i class="fa fa-line-chart" aria-hidden="true"></i> Results</a></li>
	</ul>
</nav><!--layout-->
</header>